/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #00283a;
}

    a:hover {
        color: #fa9d28;
    }

.btn-primary {
    color: #fff;
    background-color: #00283a;
    border-color: #00283a;
}

    .btn-primary:hover{
        background-color: #fa9d28;
        border-color: #fa9d28;
        color: #00283a;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #00283a;
        background-color: #fa9d28;
        border-color: #fa9d28;
    }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e9ece9;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.cropped1 {
    object-fit: cover;
    width: 400px;
    height: 250px;
}

.cropped2 {
    height: 35vh;
    width: 100%;
    object-fit: cover
}

.zoom-img {
    transition: transform 1.3s ease;
}

    /* [3] Finally, transforming the image when container gets hovered */
    .zoom-img:hover {
        transform: scale(1.3);
    }

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dropdown-menu {
    max-width: 80%;
}

.cart-color {
    color: #00283a;
}

.dark-btn {

}
