@model LipitaSystems.Web.ViewModels.InputModels.ContactFormInputModel
<!-- ======= Contact Section ======= -->
<br>
<br>
<br>
<section id="contact" class="contact mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Нашите адреси</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Изпрати ни имейл</h3>
                    <p>lipitasystems@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Обади ни се</h3>
                    <p>+359 894 325 544</p>
                </div>
            </div>

        </div>

        <div class="row mb-0" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/place/ul.+%22Todor+Kableshkov%22+20,+4000+Tsentar,+Plovdiv/42.1433823,24.746239,19.99z/data=!4m5!3m4!1s0x14acd1ba6733ba19:0x3fdf239e3e8aa0bf!8m2!3d42.1435967!4d24.7465563" frameborder="0" style="border:0; width: 100%; height: 385px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <form method="post">
                    <div class="form-row">
                        <div class="col form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Име..." />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="Contact"></label>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                            <input type="text" asp-for="Contact" class="form-control" placeholder="Имейл/Телефон..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject"></label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                        <input type="text" asp-for="Subject" class="form-control" placeholder="Тема..." />
                    </div>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                        <textarea asp-for="Message" rows="5" class="form-control" placeholder="Съобщение..."></textarea>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Изпрати</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
}