@model LipitaSystems.Web.ViewModels.InputModels.ContactFormInputModel
<!-- ======= Contact Section ======= -->
<br>
<br>
<br>
<section id="contact" class="contact mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Контакти</h2>
            <h3><span>Свържи се с нас</span></h3>
            <p>
                За повече информация и въпроси, свържете с нас. С радост ще обсъдим подробностите.
            </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Нашите адреси</h3>
                    <p>гр. Пловдив, ул. „Тодор Каблешков“ 20</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Изпрати ни имейл</h3>
                    <p>lipitasystems@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Обади ни се</h3>
                    <p>+359 894 325 544</p>
                </div>
            </div>

        </div>

        <div class="row mb-0" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%D1%83%D0%BB.%20%22%D0%A2%D0%BE%D0%B4%D0%BE%D1%80%20%D0%9A%D0%B0%D0%B1%D0%BB%D0%B5%D1%88%D0%BA%D0%BE%D0%B2%2020%22,%20%D0%9F%D0%BB%D0%BE%D0%B2%D0%B4%D0%B8%D0%B2,%20%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F+(My%20Business%20Name)&amp;t=p&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 385px;" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6">
                <form method="post">
                    <div class="form-row">
                        <div class="col form-group">
                            <label asp-for="Name"></label>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Име..." />
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="col form-group">
                            <label asp-for="Contact"></label>
                            <span asp-validation-for="Contact" class="text-danger"></span>
                            <input type="text" asp-for="Contact" class="form-control" placeholder="Имейл/Телефон..." />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject"></label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                        <input type="text" asp-for="Subject" class="form-control" placeholder="Тема..." />
                    </div>
                    <div class="form-group">
                        <label asp-for="Message"></label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                        <textarea asp-for="Message" rows="5" class="form-control" placeholder="Съобщение..."></textarea>
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Изпрати</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
}