@using LipitaSystems.Common
@{
    this.ViewData["Title"] = "Home";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 class="">
            <strong>Добре дошли в <span>Lipita Systems.</span></strong>
        </h1>
        <div class="d-flex mt-5">
            <a href="#services" class="btn-get-started scrollto">Какво предлагаме ?</a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-computer"></i></div>
                        <h4 class="title"><a href="">Lipita Systems</a></h4>
                        <p class="description">Ние сме малка компания в IT сектора, занимаваща се с контрол на достъпа, хостване и изграждане на смарт системи.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-badge"></i></div>
                        <h4 class="title"><a href="">Качество</a></h4>
                        <p class="description">Нашите продукти и услуги са с изпитано качество и висок стандарт.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-check-circled"></i></div>
                        <h4 class="title"><a href="">Сигурност</a></h4>
                        <p class="description">Сигурност и надеждност. Това са целите при изграждането на нашите системи.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-gears"></i></i></div>
                        <h4 class="title"><a href="">Разнообразие</a></h4>
                        <p class="description">Предлагаме голям избор от услуги и стоки от IT сектора. Вижте нашия магазин и секция "Услуги" за повече информация.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Услуги</h2>
                <h3><span>Услугите</span>, които предлагаме</h3>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Hosting"><div class="icon"><i class="icofont-server"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Hosting">Хостинг</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Hosting" class="text-dark">Разполагаме с набор от сървърни машини за хостване. Вижте повече информация за това, което предлагаме.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="SecurityControle"><div class="icon"><i class="icofont-lock"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="SecurityControle">Контрол на достъпа</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="SecurityControle" class="text-dark">Изграждане на различни системи за контрол на достъпа по Ваше желание.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Maintanance"><div class="icon"><i class="icofont-monitor"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Maintanance">Поддръжка на компютърни системи</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Maintanance" class="text-dark">Абонаментна или еднократна поддръжка и профилактика на компютърни системи.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Shop" asp-action="All"><div class="icon"><i class="icofont-shopify"></i></div></a>
                        <h4><a asp-area="" asp-controller="Shop" asp-action="All">Магазин</a></h4>
                        <a asp-area="" asp-controller="Shop" asp-action="All" class="text-dark">Тук може да видините продуктите които предлагаме за Контрол на достъпа, Смарт хоум устройства и други.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Websites"><div class="icon"><i class="icofont-web"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Websites">Изграждане на уеб сайтове</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Websites" class="text-dark">Изграждане на перфектен уеб сайт за Вашия бизнес.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Others">
                            <div class="icon"><i class="icofont-headphone-alt"></i></div>
                        </a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Others">Други услуги</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Others" class="text-dark">Изпълнение на друг вид поръчки и услуги в нашата сфера по договаряне с клиента.</a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Въпроси и Отговори</h2>
                <h3>Често задавани <span>Въпроси</span></h3>
                <p>Ако имате въпроси, чувствайте се свободни да се свържете с нас. С радост ще ви отговорим.</p>
            </div>

            <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

                <li>
                    <a data-toggle="collapse" class="" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>
                    <div id="faq1" class="collapse show" data-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>
                    <div id="faq2" class="collapse" data-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>
                    <div id="faq3" class="collapse" data-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>
                    <div id="faq4" class="collapse" data-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>
                    <div id="faq5" class="collapse" data-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>
                    <div id="faq6" class="collapse" data-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

            <a asp-area="" asp-controller="Home" asp-action="Privacy">Моля прочетете ОБЩИТЕ УСЛОВИЯ за ползването на нашия сайт, услуги и магазин.</a>
        </div>
    </section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->
