@{
    this.ViewData["Title"] = "Privacy Policy";
}

<br>
<br>
<br>
<section class="container mt-5">
    <div class="section-title">
        <div class="section-title">
            <h2>Общи условия</h2>
            <h3><span>Общи условия</span> за ползване на сайта, услугите и магазина</h3>
        </div>
    </div>
    <h1>Общи условия</h1>
    <hr>
    <h4>Общи условия за пазаруване по електронен път от интернет магазин LipitaSystems.com</h4>
    <br>
    <h5>1. Предмет на Общите условия</h5>
    <p>Настоящият документ съдържа Общите условия, съгласно които фирма LIPITA SYSTEMS LTD ЕООД , със седалище и адрес на управление: Пловдив, ул."Тодор Каблешков 20", вписана в Търговския регистър към Агенцията по вписванията с ЕИК 206214575, предоставя услуги и продукти на потребителите си чрез интернет магазина lipitasystems.com. Ползвателят изрично и безусловно се съгласява с настоящите общи условия за ползването на сайта и онлайн магазина.</p>
    <h5>2. Съгласие</h5>
    <p>С натискане на бутона “Съгласен съм с Политиката за лични данни“ след попълване на личните данни, клиентът извършва електронно изявление, с което декларира, че е запознат с настоящите Общи условия и ги приема.</p>
    <p>Съгласието е задължителна за пазаруване в онлайн магазина. Ползвателят е длъжен да попълни регистрационна форма, в която посочва коректни данни, необходими за издаването на фактура и протоколи за доставка, както и валиден адрес на постоянно установяване или валиден офис на еконт/спийди за доставка, телефонен номер</p>
    <h5>3. Условия за поръчка на стоки</h5>
    <p>- Поръчка</p>
    <p>Доставката на стоки от LIPITA SYSTEMS LTD ЕООД  чрез онлайн магазин lipitasystems.com става след съгласие на клиента и направена поръчка за доставка на стока. В две имена, адрес на доставката и телефонен номер за връзка. Всяка валидна и приета поръчка от страна на Клиента получава автоматично служебен номер и потвърждение, че е приета чрез телефонно обаждане.</p>
    <p>- Потвърждение и изпълнение на поръчки</p>
    <p>Операторът на LIPITA SYSTEMS LTD ЕООД потвърждава по телефона поръчката, направена от Клиента. LIPITA SYSTEMS LTD ЕООД си запазва правото да не изпълни поръчка, направена през интернет магазина lipitasystems.com, ако попълнените данни на клиента не са валидни или ако няма наличност от поръчаната стока. Операторът на LIPITA SYSTEMS LTD ЕООД е задължен да уведомява клиента за това на предоставения телефон за връзка.</p>
    <p>Потвърждението на поръчката става в рамките на работния ден, ако поръчката е направена преди 16:00 часа, и на следващия работен ден, ако е направена след 16:00 часа. В случай, че поръчката е направена в неработен ден, потвърждението става на следващия работен ден.</p>
    <p>Клиентът може да откаже или да промени поръчка преди нейното потвърждение от оператор. </p>
    <p>Клиентът заплаща стойността на поръчката по цените, посочени в поръчката. В случай, че продуктът не може да бъде доставен, операторът може да предложи алтернативен продукт със сходни характеристики и цена, който клиентът има право да приеме или да откаже.</p>
    <h5>4. Срок и цена на доставка</h5>
    <p>Срокът за доставяне на стоки, поръчани през интернет магазина lipitasystems.com, зависи от посочения адрес в страната (наш оператор ще уточни това при потвърждението на поръчката). В случай на забавяне на доставката, независимо от причините, операторът на LIPITA SYSTEMS LTD ЕООД е длъжен да уведоми клиента за това и да посочи нова дата на доставка.</p>
    <h5>5. Условия и начини на плащане</h5>
    <p>- Наложен платеж: при плащане с „наложен платеж” клиентът заплаща дължимата сума при доставка на стоките от куриера.</p>
    <h5>6. Доставка на стока</h5>
    <p>Клиентът получава стоката от служител на LIPITA SYSTEMS LTD ЕООД или куриерска компания. При доставка на стоката клиентът  подписва приемо-предавателен протокол, удостоверяващ получаването на стоката. Клиентът е длъжен да провери съдържанието на пратката и съответствието с поръчаната стока преди да попълни протокола или да заплати дължимата сума в случаите на „Наложен платеж”.</p>
    <h5>7. Връщане на стока</h5>
    <p>Клиентът има право да върне закупена от него стока от интернет магазина lipitasystems.com в срок от четеринадесет работни дни от доставката. Стоката трябва да е в пълна окомплектовка, в оригиналната си опаковка, документация и неизползвана. В този случай клиентът има право да получи обратно заплатената от него сума, в 30 дневен срок от получаването на стоката по банкова сметка, посочена от него в Декларация или чрез заплащане на наложен платеж в обратна пратка до удобен за него адрес.</p>
    <p>В случай на връщане на стока и рекламация от страна на клиента, той е длъжен да се обади на телефоните за контакт посочени в онлайн магазина lipitasystems.com и да посочи номера на заявката за покупка на стоката. Oператорът посочва адреса, на който клиента да върне стоката. Връщането може да се осъществи само в работни дни между 10:00-18:00 ч. Разходите за доставка на върнатата стока са за сметка на клиента.</p>
    <p>За целите на настоящите общи условия, „потребител” е всеки, който осъществява достъп чрез Интернет до Интернет страницата lipitasystems.com . lipitasystems.com е собственост на LIPITA SYSTEMS LTD ЕООД, представлявана от: Димитър Кехайов; ЕИК:206214575, със седалище в град Пловдив, ул."Тодор Каблешков 20".</p>
    <h5>8. Политика за поверителност във връзка с обработването на лични данни</h5>
    <p>Ние считаме гарантирането на правото на защита на личните данни за основен ангажимент на lipitasystems.com, поради което ще използваме и вложим всички необходими средства и усилия, за да обработваме Вашите данни при пълно съответствие с Регламент (ЕС) 2016/679 („Общият регламент на ЕС относно защитата на данните“ или „ОРЗД“) и всяко друго приложимо българско законодателство. Тъй като един от основните принципи на тази правна рамка е прозрачността, ние сме изготвили настоящия документ, чрез който искаме да ви уведомим за начина, по който събираме, използваме, предаваме и защитаваме Вашите лични данни, когато Вие взаимодействате с нас във връзка с продукти и услуги, включително чрез нашия уебсайт.</p>
    <p>Запазваме си правото периодично да актуализираме и изменяме настоящата Политика за поверителност, за да отразяваме всички изменения на начина, по който обработваме личните Ви данни или измененията на вашите законови изисквания. В случай на такива изменения, ние публикуваме изменената версия на Политиката за поверителност на нашия уебсайт и поради това, любезно ви молим периодично да проверявате съдържанието ѝ.</p>
    <h5>- Кои сме ние и как да се свържете с нас?</h5>
    <p>Lipitasystems.com е онлайн магазин на LIPITA SYSTEMS LTD ЕООД, представлявано от: Димитър Кехайов, ЕИК:206214575, със седалище в град Пловдив, ул."Тодор Каблешков 20". За целите на законодателството в областта на защитата на данните, ние сме администратор при обработването на Вашите лични данни.</p>
    <p>Тъй като Вашите мнения винаги са важни за нас и ние винаги имаме готовност да Ви предоставяме допълнителна информация, която може да Ви е необходима във връзка с обработването на вашите данни, Ви насърчаваме да се свързвате със служителя на LIPITA SYSTEMS LTD ЕООД, отговарящ за защитата на личните данни по електронна поща с адрес lipitasystems@gmail.com.</p>
    <h5>- Кои категории лични данни обработваме</h5>
    <p>
        Като цяло събираме Вашите лични данни директно от Вас, така че вие решавате какъв вид информация да ни предоставите. Например, информацията, която получаваме от Вас е следната:
        Когато попълвате формата за изпращане на покупка в lipitasystems.com, Вие ни изпращате вашите собствено и фамилно име, телефон, адрес за кореспонденця.
    </p>
    <p>Освен това можем да събираме и впоследствие обработваме определена информация относно поведението ви при сърфиране в нашия уебсайт, за да персонализираме вашето онлайн преживяване и изготвим предложения. Приканваме ви да научите повече в тази връзка като прочетете раздела относно обработването по-долу.</p>
    <p>Ние не събираме, нито обработваме по друг начин чувствителни данни, включени в специални категории лични данни в Общият регламент относно защитата на данните. Освен това, ние не желаем да събираме или обработваме данни на непълнолетни лица, на възраст под 18 години.</p>
    <p>В нашия уебсайт можем да съхраняваме и събираме информация посредством бисквитки (cookies) и подобни технологии съгласно Политиката за бисквитките.</p>
    <h5>- Какви са целите и основанията на обработването?</h5>
    <p>Ние ще използваме Вашите лични данни за следните цели:</p>
    <p>- Предоставяне на услуги на lipitasystems.com във Ваша полза. Тази обща цел може да включва, при необходимост, следното:</p>
    <p>* обработване на поръчки, включващо приемане, валидиране, експедиране и фактуриране на същите;</p>
    <p>* разрешаване на проблеми, свързани с анулирания на поръчки или всякакви други проблеми, свързани с поръчките, закупените стоки или услуги;</p>
    <p>* връщане на продуктите в съответствие със законовите разпоредби;</p>
    <p>* възстановяване на стойността на продуктите съгласно законовите разпоредби;</p>
    <p>* включително даване на отговори на Вашите въпроси във връзка с поръчките Ви или стоките и услугите на lipitasystems.com</p>
    <h5>- Усъвършенстване на нашите услуги</h5>
    <p>Ние бихме искали винаги да ви предложим най-доброто преживяване при пазаруването онлайн. За тази цел можем да използваме определена информация относно Вашето поведение на купувач, да ви приканваме да попълвате анкети за удовлетвореността Ви след приключването на поръчка, или да провеждаме директно, или с помощта на партньори, пазарни проучвания и изследвания. Тези дейности ние базираме на нашите законни интереси при извършване на стопанска дейност като винаги се грижим за това Вашите основни права и свободи да бъдат незасегнати.</p>
    <h5>- Защита на нашите законни интереси</h5>
    <p>Възможно е да има случаи, в които ние използваме или предаваме информация, за да защитим правата си и търговската си дейност. Те могат да включват:</p>
    <p>- Mерки за защита на уебсайта и потребителите на платформата на lipitasystems.com срещу кибератаки;</p>
    <p>- Mерки за предотвратяване и откриване на опити за измама, включително предаване на информация на компетентни публични органи;</p>
    <p>- Mерки за управление на различни други рискове.</p>
    <p>Главната причина за тези видове обработване са нашите законни интереси, свързани със защитата на търговската ни дейност като се прави уговорка, че ние гарантираме, че всички предприемани от нас мерки гарантират баланс между нашите интереси и Вашите основни права и свободи. Освен това, в някои случаи, обработването от наша страна се базира на законови разпоредби като задължението за защита на стоките и стойностите, предвидено от приложимото законодателство в тази връзка.</p>
    <h5>- Колко време пазим Вашите лични данни?</h5>
    <p>По правило, ние съхраняваме Вашите лични данни докато имате услуга или поръчка, която не е приключена. Вие винаги може да поискате от нас да изтрием определена информация или да закрием поръчката с информацията Ви и ние ще отговорим на това искане след като получим e-mail на lipitasystems@gmail.com с наименование ИЗТРИЙ МЕ.</p>
    <h5>- На кого изпращаме Вашите лични данни?</h5>
    <p>В зависимост от случая, можем да предаваме или даваме достъп до някои от Вашите лични данни на следните категории получатели:</p>
    <p>- Доставчици на куриерски услуги;</p>
    <p>- Доставчици на платежни/ банкови услуги;</p>
    <p>- Доставчици на ИТ услуги;</p>
    <p>- Други компании, с които ние можем да разработваме съвместни програми за продаване на пазара на нашите стоки и услуги.</p>
    <p>- Ако сме задължени по закон, или ако това е необходимо за защита на законните ни интереси, можем да разкриваме определени лични данни и на публични органи.</p>
    <p>Гарантираме, че достъпът до Вашите данни от частноправни субекти-трети страни се осъществява съгласно законовите разпоредби в областта на защитата на данните и поверителността на информацията, въз основа на договори, сключени с тях.</p>
    <h5>- Към кои държави предаваме Вашите лични данни?</h5>
    <p>Понастоящем ние съхраняваме и обработваме личните Ви данни в България.</p>
    <h5>- Как защитаваме сигурността на Вашите лични данни?</h5>
    <p>
        Ние се ангажираме да гарантираме сигурността на личните данни като прилагаме подходящи технически и организационни мерки при съблюдаване на промишлените стандарти.
        Съхраняваме Вашите данни на сигурни сървъри като използваме най-новите алгоритми за криптиране и гарантираме съхранението на резервни копия. Цялата платежна информация се криптира чрез SSL технология.
    </p>
    <p>Въпреки мерките, които прилагаме, за да защитаваме вашите лични данни, ние сме наясно, че по принцип предаването на информация по интернет или други публични мрежи не е напълно безопасно, като съществува риск данните да могат да се преглеждат и използват от неупълномощени трети страни. Ние не можем да поемем отговорност за тези уязвимости на системи, които не са под нашия контрол.</p>
    <h5>- Какви са Вашите права?</h5>
    <p>Общият регламент относно защитата на данните признава редица права във връзка с Вашите лични данни. Можете да поискате достъп до Вашите данни, корекцията на грешки в нашите файлове, и/или да повдигате възражения по отношение на обработването на Вашите лични данни. Можете също така да упражните правото си на подаване на жалба пред компетентния надзорен орган или до съда. В зависимост от случая, вие можете също така да разполагате с правото да поискате изтриване на Вашите лични данни, правото на ограничаване на обработването на Вашите данни и правото на преносимост на данните.</p>
    <p>За да упражнявате правата си, можете да се свържете с нас като използвате данните за контакт, посочени по-горе. Моля, вземете предвид следното, ако желаете да упражните тези права:</p>
    <p>- Самоличност. Ние подхождаме сериозно към поверителността на всички записи, съдържащи лични данни. Поради тази причина, ви молим да ни изпратите Вашите искания относно тези записи като използвате две имена и телефонен номер или посочения от вас начин за обратна връзка. В противен случай, ние си запазваме правото да проверяваме Вашата самоличност като изискваме допълнителна информация за потвърждаването ѝ.</p>
    <p>- Такси. Ние няма да налагаме такса за упражняване на каквито и да е права по отношение на Вашите лични данни, освен когато искането Ви за достъп до информация е без основание, многократно или излишно се повтаря, в който случай ще таксуваме разумна сума. Ще Ви информираме за евентуални приложими такси, преди да разгледаме искането Ви.</p>
    <p>- Срок за отговор. Ние планираме да отговаряме на всички валидни искания в рамките на един месец, освен когато искането е особено сложно, или ако сте отправили повече искания, в който случай ще отговорим в рамките на максимум два месеца. Ще ви уведомим дали ще имаме нужда от повече от един месец. Възможно е да ви помолим да ни кажете какво точно желаете да получите или за какво се тревожите. Така вие ще ни помогнете да действаме по-бързо и да съкратим времето за отговор на Вашето искане.</p>
    <p>- Права на трети страни. Няма да е необходимо да отговаряме на искане, ако то засяга по отрицателен начин правата и свободите на други субекти на данни.</p>
    <h5>-Може да подадете молба към нас относно:</h5>
    <h5>Достъп:</h5>
    <p>- да потвърдим, че ние обработваме Вашите лични данни;</p>
    <p>- да предоставим копие от тези данни;</p>
    <p>- да Ви предоставим информация относно Вашите лични данни, като например данните, които ние имаме, как ги използваме, на кого ги разкриваме, дали ги предаваме в чужбина и как ги предпазваме, колко дълго ги пазим, какви права имате, как можете да подадете жалба, къде сме придобили Вашите данни, доколкото информацията вече не Ви е била предоставена посредством това известие</p>
    <h5>Поправяне:</h5>
    <p>- възможно е ние да се опитаме да удостоверим неточността на данните, преди да ги коригираме.</p>
    <h5>Изтриване на данни:</h5>
    <p>Вие можете да ни помолите да изтрием Вашите лични данни, но единствено ако:</p>
    <p>- те вече не са необходими за целите, за които са били събрани; или</p>
    <p>- Вие сте оттеглили вашето съгласие (ако обработването на данните се основава на съгласие); или</p>
    <p>- упражнявате законно право на възражение; или</p>
    <p>- те са били незаконно обработвани; или</p>
    <p>- е налице правно задължение в тази връзка</p>
    <p>Ние нямаме задължението да уважим Вашето искане за изтриване на личните ви данни, ако обработването им се изисква:</p>
    <p>- за да се изпълни законово задължение; или</p>
    <p> - за да се установи, упражни или защити правна претенция;</p>
    <p>Има определени други обстоятелства, при които не сме задължени да се съобразим с Вашето искане за изтриване на данни, въпреки, че те са и най-вероятните обстоятелства, при които може да откажем искането ви.</p>
    <h5>Ограничаване на обработването на данни:</h5>
    <p>- Можете да ни помолите да ограничим обработването на Вашите лични данни, като за целта напишете електронно писмо до lipitasystems@gmail.com с наименование ИЗТРИЙ МЕ.</p>
    <p>- Вие вече сте упражнили правото на възражение и проверявате дали доминирането на нашите права все още е налице.</p>
    <p>Ние можем да продължим да използваме Вашите лични данни в резултат на искане за ограничение:</p>
    <p>- ако имаме Вашето съгласие; или</p>
    <p>- за да се установи, упражни или защити правна претенция; или</p>
    <p>- за да се защитят правата на lipitasystems.com или на друго физическо или юридическо лице.</p>
    <h5>Преносимост на данните:</h5>
    <p>Можете да ни помолите да предоставим Вашите лични данни в структуриран, широко използван и пригоден за машинно четене формат или можете да поискате те да бъдат директно „пренесени“ към друг оператор на данни, но единствено ако:</p>
    <p>- обработването се основава на Вашето съгласие или на сключването на договор с Вас; и</p>
    <p>- обработването се извършва с автоматично средство.</p>
    <h5>Право на възражение:</h5>
    <p>Можете да възразите по всяко време поради причини, свързани с Вашата конкретна ситуация, срещу обработването на Вашите лични данни, основано на нашите законни интереси, ако считате че Вашите основни права и свободи доминират над тези интереси.</p>
    <p>Освен това можете да възразите по всяко време срещу обработването на Вашите данни за целите на директния маркетинг (включително създаване на профили) без да посочвате каквато и да било причина, като в този случай обработването ще бъде прекратено при първа възможност.</p>
    <h5>Вземане на автоматични решения:</h5>
    <p>Можете да ни помолите да не бъдете предмет на решение, основано единствено на автоматично обработване, но единствено когато това решение:</p>
    <p>- поражда правни последици за Вас; или</p>
    <p>- Ви засяга по подобен начин и в значителна степен.</p>
    <p>Това право е неприложимо, ако решението, което е взето след вземането на автоматично решение:</p>
    <p>- ни е необходимо с цел да сключим или изпълним договор с Вас;</p>
    <p>- е разрешено от закона и са налице адекватни гаранции за Вашите права и свободи; или</p>
    <p>- се базира на Вашето изрично съгласие.</p>
    <h5>Жалби:</h5>
    <p>Имате правото да подавате жалба пред местния надзорен орган относно обработването на вашите лични данни. В България данните за контакт с надзорния орган за защита на данните са, както следва:</p>
    <h5>Комисия за защита на личните данни:</h5>
    <p>Адрес: София 1592, бул. „Проф. Цветан Лазаров” № 2</p>
    <p>Център за информация и контакти - тел. 02/91-53-518</p>
    <p>Приемна - работно време  9:00 - 17:30 ч.</p>
    <p>Електронна поща: kzld@cpdp.bg</p>
    <p>Интернет страница: www.cpdp.bg</p>
    <p>Без да се засяга правото ви да се свързвате с надзорния орган по всяко време, моля свържете се с нас предварително и ние Ви обещаваме, че ще положим максимални усилия, за да разрешим проблемите ви по взаимно съгласие.</p>
    <p>За контакт: lipitasystems@gmail.com, тел.:+359 894 325 544.</p>
    <p>Със зареждане на lipitasystems.com всеки един потребител приема и има задължение да спазва настоящите Общи условия за цялото време на ползване на страницата, от първоначалното зареждане до напускането на lipitasystems.com.</p>
    <p>Освен ако в тези общи условия изрично не е посочено друго, информацията, публикувана на lipitasystems.com, е собственост на LIPITA SYSTEMS LTD ЕООД. Забранено е копирането, предаването, разпространението и съхраняването на част или на цялото съдържание, публикувано на lipitasystems.com, без изричното писмено съгласие на LIPITA SYSTEMS LTD ЕООД. Потребителите имат право да разглеждат и да отпечатват извадки от lipitasystems.com за своя лична употреба.</p>
    <p>Със зареждане на lipitasystems.com, потребителят се съгласява, че LIPITA SYSTEMS LTD ЕООД може да съхранява и обработва в лог-файловете на сървъра lipitasystems.com данни за посещението му на сайта (IP адрес, cookies и т.н.), за да идентифицира потребителя и да удостовери началото на ползване на lipitasystems.com, съответно съгласието на потребителя с настоящите общи условия.</p>
    <p>Всички обявени цени на продуктите са с включен ДДС.</p>
</section>
