<!-- ======= Pricing Section ======= -->
<br>
<br>
<br>
<section id="about" class="about section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="section-title">
                <h2>Поддръжка</h2>
                <h3>Поддръжка на <span>Компютърни системи</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/img/solulan-avantages-maintenance-preventive-informatique-1080x675.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Абонаментна поддръжка на компютърни системи.</h3>
                <p class="font-italic">
                    Чрез абонаментната поддръжка вие получавате професионална компютърна поддръжка от нашите специалисти на място във вашия офис.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5><strong>Нашите офиси</strong></h5>
                            <p>Имаме офиси в няколко града. За населени места извън нашите офиси се свържете с нас за повече информация.</p>
                        </div>
                    </li>
                    <li>
                        <i class="icofont-computer"></i>
                        <div>
                            <h5><strong>Поддръжка на устройства</strong></h5>
                            <p>Освен на компютърни системи, ние предлагаме и поддръжка на други периферни устройства. За поддръжка извън обозначената се свържете с нас при въпроси.</p>
                        </div>
                    </li>
                </ul>

            </div>
            <p>
                <strong>Примерни планове за поддръжка на компютърни системи и периферии. Цените може да варират зависимост от системата. При по-голям набор от компютърни системи за поддръжка и по-дълги абонаменти се предлагат намаления. Също така и за редовни клиенти на компанията. За повече информация и при въпроси се свържете с нас. С радост ще обсъдим подробностите.</strong>
            </p>
        </div>

    </div>
    <br>
    <br>
    <div class="container pricing mt-5" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Free</h3>
                    <h4><sup>$</sup>0<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Business</h3>
                    <h4><sup>$</sup>19<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>Developer</h3>
                    <h4><sup>$</sup>29<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 pricing" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <span class="advanced">Advanced</span>
                    <h3>Ultimate</h3>
                    <h4><sup>$</sup>49<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End About Section -->
<section id="pricing" class="pricing mt-5">
</section><!-- End Pricing Section -->