<!-- ======= Pricing Section ======= -->
<br>
<br>
<br>
<section id="about" class="about section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="section-title">
                <h2>Други</h2>
                <h3>Други видове <span>Услуги</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/img/othersServices.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Други видове услуги свързани с IT сектора или нашата фирма.</h3>
                <p class="font-italic">
                    Ако имате нужда от някаква услуга, която не е описана в уебсайта, може да се свържете с нас в таб контакти - напишете ни съобщение с подходяща тема и обяснете описателно от какво имате нужда.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5><strong>Нашите офиси</strong></h5>
                            <p>Имаме офиси в няколко града. За населени места извън нашите офиси се свържете с нас за повече информация.</p>
                        </div>
                    </li>
                </ul>

            </div>
            <p class="mt-5">
                <strong>Ако някоя услуга не е изписана в сайта, това е защото или нямаме достатъчен набор от специалисти или не сме достатъчно квалифицирани за тази услуга. Въпреки това зависимост от вашето искане ние ще направим всичко въжможно да завършим дадената задача (след договаряне за определена услуга). При въпроси свържете се с нас в един от посочените начини в контакт таба:<br> 1. През контакт формата с подходяща тема и описание;<br> 2. Чрез имейл на lipitasystems@gmail.com с подходяща тема и описание;<br> 3. На посочение телефон за връзка: +359 894 325 544, в удобни часове (посоченото работно време).</strong>
            </p>

            <a asp-area="" asp-controller="Home" asp-action="Privacy">Моля прочетете ОБЩИТЕ УСЛОВИЯ за ползването на нашия сайт, услуги и магазин.</a>
        </div>
    </div>


</section><!-- End About Section -->