<!-- ======= Pricing Section ======= -->
<!--<br>
<br>
<br>
<section id="about" class="about section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <h1 class="text-danger">За момента тази услуга е спряна. Скоро ще бъде отново активна.</h1>

        <p class="mt-5">
            <strong>При нужда можете да се свържете с нас за въпроси, за да обсъдим допълнителна информация свързана с услугата или кога ще бъде активна отново. С радост ще ви отговорим.</strong>
        </p>

        <a asp-area="" asp-controller="Home" asp-action="Privacy">Моля прочетете ОБЩИТЕ УСЛОВИЯ за ползването на нашия сайт, услуги и магазин.</a>

    </div>

</section>-->
<!-- End About Section -->
<!-- ======= Pricing Section ======= -->
<br>
<br>
<br>
<section id="about" class="about section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <div class="section-title">
                <h2>Сигурност</h2>
                <h3>Системи за <span>Контрол на Достъпа</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/access-control-Hartmann2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Системите за сигурност и контрол на достъп.</h3>
                <p class="font-italic">
                    Контролът на достъп е една от основните системи за сигурност.Ние може да ви предложим инсталиране на модерни и сигурни системи от нашите специалисти на място във Вашия офис.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5><strong>Нашите офиси</strong></h5>
                            <p>Имаме офиси в няколко града. За населени места извън нашите офиси се свържете с нас за повече информация. <strong>Ако се колебаете при избора и се нуждаете от помощ можете да се свържете с нашите консултанти, които с удоволствие ще ви помогнат.</strong></p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <div class="section-title">
            <div class="section-title">
                <h3>Видове <span>Системите за Контрол на Достъп</span></h3>
            </div>
            <ul class="text-left list-unstyled">
                <li class="ml-5"><i class="icofont-lock"></i> Контрол на работно време</li>
                <li class="ml-5"><i class="icofont-lock"></i> Бариери и паркинг системи</li>
                <li class="ml-5"><i class="icofont-lock"></i> Контролери</li>
                <li class="ml-5"><i class="icofont-lock"></i> Четящи устройства</li>
                <li class="ml-5"><i class="icofont-lock"></i> Заключващи механизми</li>
                <li class="ml-5"><i class="icofont-lock"></i> Турникети</li>
                <li class="ml-5"><i class="icofont-lock"></i> Видеодомофони и домофонни системи</li>
            </ul>
            <hr>
            <ul class="text-left list-unstyled">
                <li class="ml-5"><i class="icofont-eye"></i> Видеонаблюдение</li>
                <li class="ml-5"><i class="icofont-fire-burn"></i> Пожароизвестяване</li>
                <li class="ml-5"><i class="icofont-alarm"></i> Алармени системи</li>
            </ul>
        </div>
        <div class="section-title">
            <div class="section-title">
                <h3>Преимущества на <span>Системите за Контрол на Достъп</span></h3>
            </div>
            <ul class="text-left list-unstyled">
                <li class="ml-5"><i class="icofont-tick-mark"></i> Уеб базиран софтуер</li>
                <li class="ml-5"><i class="icofont-tick-mark"></i> Контрол на достъп с чип или карта</li>
                <li class="ml-5"><i class="icofont-tick-mark"></i> Голяма достъпност и много възможности</li>
                <li class="ml-5"><i class="icofont-tick-mark"></i> Пестене на енергия</li>
                <li class="ml-5"><i class="icofont-tick-mark"></i> Обединение на контролът на достъп с други системи за сигурност</li>
                <li class="ml-5"><i class="icofont-tick-mark"></i> Подходящи за различни по големина и характер обекти</liclass="ml-5">
            </ul>
        </div>
    </div>
    <div class="container pricing " data-aos="fade-up">

        <div class="btn-wrap">
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn-buy">Свържи се с нас</a>
        </div>
        <div class="row">
            <p class="mt-3">
                <strong>Системите за сигурност, контрол на достъп и смарт хоум са приложими във всеки бизнес или дом. Можете да се свържете с нас, за да обсъдим допълнителни условия и детайли за различни системи, и да конфигурираме устройствата, които са подходящи за вашия бизнес. При въпроси, моля свържете се с нас. С радост ще ви отговорим.</strong>
            </p>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Моля прочетете ОБЩИТЕ УСЛОВИЯ за ползването на нашия сайт, услуги и магазин.</a>
    </div>
</section>
<!-- End About Section -->