<!-- ======= Pricing Section ======= -->
<br>
<br>
<br>
<section id="about" class="about section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <h1 class="text-danger">За момента тази услуга е спряна. Скоро ще бъде отново активна.</h1>

        <p class="mt-5">
            <strong>При нужда можете да се свържете с нас за въпроси, за да обсъдим допълнителна информация свързана с услугата или кога ще бъде активна отново. С радост ще ви отговорим.</strong>
        </p>

        <a asp-area="" asp-controller="Home" asp-action="Privacy">Моля прочетете ОБЩИТЕ УСЛОВИЯ за ползването на нашия сайт, услуги и магазин.</a>

    </div>

</section><!-- End About Section -->