<br>
<br>
<br>
<section id="team" class="team section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Контролери</h2>
            <h3>Избери от нашите <span>Продукти за Контролери</span></h3>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <a asp-area="" asp-controller="Shop" asp-action="Product"><img src="~/img/rsz_c75998a168e30a517f4633114b8f4bd219929bd3.png" class="img-fluid" alt=""></a>

                    </div>
                    <div class="member-info">
                        <h4 class="mb-3">Контролер Votronic за 2 батерии</h4>
                        <h3 class="text-danger"><del class="text-dark h5">50.00 лв</del> | 29.00 лв</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4 class="mb-3">Картови четци</h4>
                        <h5 class="text-dark">29.00 лв</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Биометрични системи и терминали за работно време</h4>
                        <span class="col-2 badge badge-primary text-white">33333</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Заключващи механизми</h4>
                        <span class="col-2 badge badge-primary text-white">44444</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Бутони</h4>
                        <span class="col-2 badge badge-primary text-white">55555</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Турникети и бариери</h4>
                        <span class="col-2 badge badge-primary text-white">66666</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/img/smartHome/smarthome-pixabay-resized.png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Карти, чипове и аксесоари</h4>
                        <span class="col-2 badge badge-primary text-white">77777</span>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Team Section -->