@model LipitaSystems.Data.Models.FrontImage

@{ ViewData["Title"] = "Delete"; }

<br>
<br>
<br>
<section class="container mt-5">
    <h1>Изтрий</h1>

    <h3>Сигурен ли си че искаш да го изтриеш?</h3>
    <div>
        <h4>Заглавна снимка</h4>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Изтрий" class="btn btn-danger" /> |
            <a asp-action="Index">Назад</a>
        </form>
    </div>
</section>
