@model LipitaSystems.Data.Models.FrontImage

@{ ViewData["Title"] = "Edit"; }

<br>
<br>
<br>
<section class="mt-5 container">
    <h1>Редактирай</h1>

    <h4>Заглавна снимка</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ImgUrl" class="control-label">Адрес на снимка</label>
                    <input asp-for="ImgUrl" class="form-control" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Heading" class="control-label">Заглавие</label>
                    <input asp-for="Heading" class="form-control" />
                    <span asp-validation-for="Heading" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label">Съдържание</label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RedirectUrl" class="control-label">Къде да праща</label>
                    <input asp-for="RedirectUrl" class="form-control" />
                    <span asp-validation-for="RedirectUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order" class="control-label">Място в подредба</label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Запази" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Назад</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
