<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>404 Error</title>

    <!-- Bootstrap CSS -->
    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/admin/css/elegant-icons-style.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/admin/css/style.css" rel="stylesheet">
    <link href="~/admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="page-404">
        <p class="text-404">404</p>

        <h2>Опа!!!</h2>
        <p>Нещо се обърка, такава страница не съществува. <br><a asp-area="" asp-controller="Home" asp-action="Index">Върни се в Началото</a></p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>
